header h1{
    color:red;
    text-decoration: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}

header { 
    border-bottom: 1px solid #999;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
}

ul {
    padding: 0px;
}
a {
    color: black;
    text-decoration: none;
}
