{% load static %}
<html>

<head>
    <title>Django Projects</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Direct Links</h1>
        <!-- Aca van los nombres que se usa en  urls.py de cada app -->
        <ul>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'posts' %}">Posts</a>
            <a href="{% url 'blogs' %}">Blogs</a>
        </ul>
    </header>

    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>